@font-face {
  font-family: "GraphikCy";
  src: url("../fonts/graphik-bold-cy-web-origin.woff2") format("woff2"), url("../fonts/graphik-bold-cy-web-origin.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: 'GraphikCy';
  src: url("../fonts/graphik-regular-cy-web-origin.woff2") format("woff2"), url("../fonts/graphik-regular-cy-web-origin.woff") format("woff");
  font-weight: normal; }
@font-face {
  font-family: 'GraphikCy';
  src: url("../fonts/graphik-medium-cy-web.woff2") format("woff2");
  font-weight: 500; }
* {
  margin: 0;
  text-decoration: none; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  color: #8e9194;
  font-family: 'GraphikCy', sans-serif;
  font-size: 0.9rem;
  font-weight: 400; }

body {
  background-color: #ffffff;
  min-height: 1vh;
  color: #8e9194;
  font-family: 'GraphikCy', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 1.65em; }

h5 {
  font-size: 1.4em; }

.section-title {
  color: #000000;
  font-size: 34px;
  text-align: center;
  letter-spacing: -1.1px;
  font-family: 'GraphikCy', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 30px; }

.section {
  padding: 3em 0 8em; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 760px;
    max-width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 980px;
    max-width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1180px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }

.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table; }

.container-fluid:after {
  clear: both; }

img {
  max-width: 100%; }

nav {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between; }

.btn {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  height: 44px;
  font-weight: bold;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  transition: 0.5s; }
  .btn a {
    text-decoration: none; }

.btn-primary {
  background-color: #16c580;
  color: #ffffff;
  transition: 0.5s; }
  .btn-primary:hover {
    background-color: #0db371; }

.fixed-nav {
  width: 100%; }

.flexed-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0; }

.main-nav {
  border-bottom: 1px solid #ebecef; }
  .main-nav .flexed-nav {
    padding: 1em 0; }
  .main-nav .logo-a img {
    width: 136px; }

.account-link {
  color: #8e9194;
  font-size: 14px;
  font-weight: normal;
  float: right;
  text-align: center; }
  .account-link a {
    color: #16c580;
    text-decoration: none; }

.colored-green {
  color: #16c580; }

.bolder {
  font-weight: bolder; }

.contacts {
  padding: 100px 0 0; }
  .contacts .form-cover {
    max-width: 350px;
    margin: 0 auto;
    text-align: center; }
    .contacts .form-cover p {
      margin: 2em 0;
      font-size: 1.125em; }
    .contacts .form-cover .redirect-link {
      width: 100%;
      margin: 0 auto;
      font-size: 14px; }
      .contacts .form-cover .redirect-link p {
        font-size: 1.125em;
        margin: 0; }
      .contacts .form-cover .redirect-link a {
        text-decoration: underline;
        display: inline-block;
        color: #8e9194; }
    .contacts .form-cover .form {
      text-align: center;
      max-width: 700px;
      margin: 0 auto; }
      .contacts .form-cover .form .group {
        width: 100%; }
      .contacts .form-cover .form .group-recaptcha {
        position: relative;
        flex: 1; }
        .contacts .form-cover .form .group-recaptcha .g-recaptcha, .contacts .form-cover .form .group-recaptcha .error {
          width: 304px;
          margin: 0 auto;
          position: relative; }
        .contacts .form-cover .form .group-recaptcha .error {
          height: 0;
          text-align: center !important;
          position: relative !important; }
      .contacts .form-cover .form .group .error {
        color: #e45555;
        text-align: left;
        margin-top: -25px;
        position: absolute;
        font-size: 12px;
        display: none;
        max-width: 350px;
        line-height: 1;}
        .contacts .form-cover .form .group .error a {
          font-weight: bold;
          text-decoration: underline; }
      .contacts .form-cover .form .group.has-error .error {
        display: block; }
      .contacts .form-cover .form input, .contacts .form-cover .form textarea {
        display: block;
        padding: 0 12px;
        width: 100%;
        height: 50px;
        border: 2px solid #ebecef;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        color: #000000;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.3px;
        margin-bottom: 2em; }
        .contacts .form-cover .form input::-webkit-input-placeholder, .contacts .form-cover .form textarea::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #C8C8C8; }
        .contacts .form-cover .form input::-moz-placeholder, .contacts .form-cover .form textarea::-moz-placeholder {
          /* Firefox 19+ */
          color: #C8C8C8; }
        .contacts .form-cover .form input:-ms-input-placeholder, .contacts .form-cover .form textarea:-ms-input-placeholder {
          /* IE 10+ */
          color: #C8C8C8; }
        .contacts .form-cover .form input:-moz-placeholder, .contacts .form-cover .form textarea:-moz-placeholder {
          /* Firefox 18- */
          color: #C8C8C8; }
        .contacts .form-cover .form input:focus, .contacts .form-cover .form textarea:focus {
          outline: none; }
          .contacts .form-cover .form input:focus::-webkit-input-placeholder, .contacts .form-cover .form textarea:focus::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #ebecef; }
          .contacts .form-cover .form input:focus::-moz-placeholder, .contacts .form-cover .form textarea:focus::-moz-placeholder {
            /* Firefox 19+ */
            color: #ebecef; }
          .contacts .form-cover .form input:focus:-ms-input-placeholder, .contacts .form-cover .form textarea:focus:-ms-input-placeholder {
            /* IE 10+ */
            color: #ebecef; }
          .contacts .form-cover .form input:focus:-moz-placeholder, .contacts .form-cover .form textarea:focus:-moz-placeholder {
            /* Firefox 18- */
            color: #ebecef; }
      .contacts .form-cover .form .check-group {
        margin-left: 2em; }
        .contacts .form-cover .form .check-group .check-container {
          display: block;
          position: relative;
          padding-left: 2em;
          padding-right: 1em;
          margin-bottom: 1.5em;
          cursor: pointer;
          font-size: 14px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          text-align: left; }
        .contacts .form-cover .form .check-group .check-container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          width: 0;
          height: 0; }
        .contacts .form-cover .form .check-group .checkmark {
          position: absolute;
          top: 4px;
          left: 0;
          height: 16px;
          width: 16px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          border: 2px solid #BDBDBD; }
        .contacts .form-cover .form .check-group .check-container:hover input ~ .checkmark {
          border: 2px solid #16c580; }
        .contacts .form-cover .form .check-group .check-container input:checked ~ .checkmark {
          background-color: #16c580;
          border: 2px solid #16c580; }
        .contacts .form-cover .form .check-group .checkmark:after {
          content: "";
          position: absolute;
          display: none; }
        .contacts .form-cover .form .check-group .check-container input:checked ~ .checkmark:after {
          display: block; }
        .contacts .form-cover .form .check-group .check-container .checkmark:after {
          left: 4px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      .contacts .form-cover .form .btn-div {
        width: 100%;
        margin: 2.5em auto 0; }
      .contacts .form-cover .form button {
        margin-bottom: 1.5em; }

.form-send-message {
  display: block;
  text-align: center;
  font-size: 1.125em; }
  .form-send-message p {
    padding: 0.5em; }
  .form-send-message a {
    width: 350px;
    max-width: 100%;
    padding: 12px 0;
    margin: 1.5em auto; }
  .form-send-message h4 {
    margin: 2em 0;
    color: #000000; }

.contacts .form-cover .form-contact .group .error {
  margin-top: 0 !important; }

.login .form-cover .form-contact .group .error {
  margin-top: 35px !important; }

.w-chrome,
div#wistia_grid_22_wrapper,
div#wistia_grid_22_above,
#wistia_grid_21_main,
#wistia_grid_21_wrapper,
#wistia_grid_22_main {
  height: auto !important; }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 991px) {
  .topnav a.icon {
    display: block; }

  .flexed-nav {
    padding: 0.5em 1em;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }
    .flexed-nav .account-link {
      margin-top: 1.2em; } }
.group .error-p {
  display: none;
  position: absolute; }

.has-error .error-p {
  display: block;
  color: #16c580; }

@media (max-width: 667px) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (color: 8) and (device-aspect-ratio: 375 / 667) and (aspect-ratio: 667 / 375) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation: landscape) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #16c580;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
